@{
    ViewBag.Title = "Insert ProductStatus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

@using (Html.BeginForm())
{
    <div class="container" style="padding-left: 0px; padding-top:0%">
        <div class="panel panel-default">
            <div class="panel-heading">

                <section class="content-header">
                    <h6 class="panel-title">New Product Status</h6>
                    <ol class="breadcrumb">
                        <li><a href="/ProductStatus/Index"><i class="fa fa-dashboard"></i> All Product Status</a></li>
                        <li class="active"> <a href="/ProductStatus/insertProductStatus"> New Product Status </a> </li>
                    </ol>
                </section>
            </div>

            <div class="panel-body">

                <div class="form-group col-sm-12">
                    <div>
                        @Html.Label(" Status Name ", null, new { @class = "control-label col-md-4", Style = "float:left" })
                        @*<span class="required_field col-md-1" style="padding-left:5px; float:left;"> *</span>*@
                        <div class="col-md-8" style="padding-left: 0px; float: left">
                            @Html.TextBox("ProductStatusName", null, new { @class = "form-control input-sm col-sm-11", @placeholder = "Product Status Name " })
                        </div>
                    </div>
                    <input type="button" id="btnInsertProductStatus" value="Save Product Status" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>

}

<script src="~/Scripts/CustomScripts/ProductStatusManager.js"></script>
<script>
    var ProductStatusID;
    $(document).ready(function () {

        $("#btnInsertProductStatus").click(function (e) {
            if (ProductStatusManager.CreateValidation() === true) {
                ProductStatusManager.InsertProductStatus();
            }
        });

    });
</script>


