<div class="form-group col-sm-12">
    <div>
        @Html.Label("Attendance Type Name", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px; float: left">
            @Html.TextBox("EditAttenanceType", null, new { @class = "form-control input-sm col-sm-11", @placeholder = "Name " })
        </div>
    </div>
</div>
<div style="padding-top: 20px;"></div>

