
@Html.Hidden("BrandID")

<div class="form-group col-sm-12">
    <div>
        @Html.Label("Brand Name", null, new { @class = "control-label col-md-4", Style = "float:left" })
        <div class="col-md-8" style="padding-left: 0px;float:left">
            @Html.TextBox("BrandNames", null, new { @class = "form-control input-sm col-sm-11", @placeholder = " Brand Name " })
        </div>
    </div>
</div>