
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-12">
        <p>
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br />
            Hasan mama, ekhane body thakbe . always body eta mane renderbody ... :) <br /><br />
            ekhane modal , panel table etc sob thakbe. OK?
        </p>
    </div>
</div>


 