@{
    ViewBag.Title = "Insert Section";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.AntiForgeryToken()

@using (Html.BeginForm())
{
    <div class="container" style="padding-left: 0px; padding-top:0%">
        <div class="panel panel-default">
            <div class="panel-heading">

                <section class="content-header">
                    <h6 class="panel-title">New Section</h6>
                    <ol class="breadcrumb">
                        <li><a href="/Section/Index"><i class="fa fa-dashboard"></i> All Section</a></li>
                        <li class="active"> <a href="/Section/insertSection"> New Section </a> </li>
                    </ol>
                </section>
            </div>

            <div class="panel-body">

                <div class="form-group col-sm-12">
                    <div>
                        @Html.Label("Section Name", null, new { @class = "control-label col-md-4", Style = "float:left" })
                        @*<span class="required_field col-md-1" style="padding-left:5px; float:left;"> *</span>*@
                        <div class="col-md-8" style="padding-left: 0px; float: left">
                            @Html.TextBox("SectionName", null, new { @class = "form-control input-sm col-sm-11", @placeholder = "Section Name " })
                        </div>
                    </div>
                    <input type="button" id="btnInsertSection" value="Save Section" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </div>
    </div>

}

<script src="~/Scripts/CustomScripts/SectionManager.js"></script>

<script>
    var SectionID;
    $(document).ready(function () {

        $("#btnInsertSection").click(function (e) {

            if (SectionManager.CreateValidation() === true) {

                SectionManager.InsertSection();
            }
        });
    });

</script>


